body {
    font-family: Verdana,Arial,sans-serif;
    margin: 0;
}
input[type="text"],
input[type="password"] {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0.4em;
    vertical-align: top;
}
textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 12em;
    padding: 0.4em;
    width: 100%;
}
#container {
    margin: 0 auto;
    width: 75%;
}
#header {
    padding: 0 1em;
}
#header img {
    vertical-align: top;
}
#controls {
    margin: 1em 0;
}
#controls:before,
#controls:after {
    clear: both;
    content: "";
    display: block;
}
#result {
    border: 1px solid;
    border-radius: 2px;
    padding: 0.5em;
}
.result-success {
    background-color: #efe;
    color: #090;
}
.result-error {
    background-color: #fee;
    color: #c00;
}
.category-title {
    margin-right: 7px;
}
.category-contents {
    height: 20em;
}