body {
    font-family: Verdana,Arial,sans-serif;
    margin: 0;
}
input[type="text"],
input[type="password"] {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0.4em;
    vertical-align: top;
}
textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.4em;
}
#container {
    margin: 0 auto;
    width: 75%;
}
#header {
    padding: 0 1em;
}
#header img {
    vertical-align: top;
}
#action-result {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#action-result p {
    padding: 0 1em;
}
#action-result-dismiss {
    cursor: pointer;
    font-size: 0.75em;
}
.add,
.success {
    background-color: rgba(238, 255, 238, 0.95);
    color: #090;
}
.delete,
.error {
    background-color: rgba(255, 238, 238, 0.95);
    color: #c00;
}
.category-title {
    margin-right: 7px;
}
.category-contents {
    height: 20em;
    width: 100%;
}
.controls {
    margin: 1em 0;
}
.controls:after {
    clear: both;
    content: "";
    display: block;
}
.no-close .ui-dialog-titlebar-close {
    display: none;
}
.ui-dialog-content h3,
.ui-dialog-content h4 {
    margin-bottom: 0.5em;
    margin-top: 1em;
}